/* css reset */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}


body {
  background: #eee; /* body的背景色会蔓延整个页面 */
}
.global-header {
  margin: 20px;
}
.global-header .search-form {
  display: flex;
  justify-content: space-between;
}
.global-header > .search-form > input{
  width: 100%;
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
}
.global-header > .search-form > button{
  white-space: nowrap;
  margin-left: 10px;
  padding: 0 20px;
  border: none;
  background: #2189BC;
  color: white;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
}
.global-main {

}
.site-list > li {

}
.site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
}
.site-list .site {
  width: 160px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.site-list .site .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.site-list .site .link {
  font-size: 14px;
  margin-top: 5px;
}
.add-button {
  height: 122px;
}
.site-list .site .icon{
  height: 64px;
  width: 64px;
}
.site-list .site .text{
  margin-top: 4px;
}
